.navbar_cont{
    padding: 5px;
    width: 100vw;
    background-color: #503A3A;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom:1px solid #FEF4F4 ;
}
.navbar_opt_cont{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.navbar_opt{
    width: 30vw;
    color: #503A3A;
    text-align: center;
    border: 1px solid white;
    background: #FEF4F4;
    border-radius: 5px;
}
.nav_title{
    margin: 0;
    color: #FEF4F4;
    text-align: center;
}
.title_cont{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.logoutBtn{
    background-color: transparent;
    color: #FEF4F4;
    border: none;
    font-size: larger;
}